#navbar {
  transition: background ease-in-out 250ms;
}
#video {
  position: relative;
}

#social {
  padding-bottom: 100px;
}

#video-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color: #000000, $alpha: 0.25);
  margin: 0;
}

#glimpseofthecity {
  width: 100vw;
  & .row {
    width: 100vw;
  }
  & .jumbotron {
    padding: 0;
  }
}

#rsvp {
  min-height: 100vh;
}

#home {
  &.jumbotron {
    background-color: transparent;
    padding: 0;
  }
}
